<?xml version="1.0"?>
<config>
  <resources>
    <resource name="cdrPlugin2Resource" path="cdrPlugin2.cpg">
      <resourceMap>
        <resEntry id="57e469be-c42a-41d4-9892-c7ac0b00cd79" icon="200"/>
        <resEntry id="b9bd86de-975c-4b2a-a3c3-2601dfb08bd0" icon="201"/>
		
      </resourceMap>
    </resource>
  </resources>
</config>
